.activities-content {
	padding: 0;
	list-style: none;
	@extend %flexbox;
	@include flex-flow(wrap);

	.graphical-abstract {
		width: 50%;
		margin: auto;
		display: block;
	}

	.activity {
		text-indent: 10px;
		font-size: 1.3em;
		margin-top: 20px;
		color: #666;
		text-align: left;
	}

	.activities-body {
		font-size: 1.1em;
		margin-top: 20px;
		color: #666;
		text-align: left;
	}

	.activities-list {
		font-size: 1em;
		margin-top: 20px;
		color: #666;
		text-align: left;
	}

	.h3 {
		color: rgb(0, 0, 0);
	}
}