.team_members {
	padding: 0;
	list-style: none;
	@extend %flexbox;
	@include flex-flow(wrap);

	.profile_picture{
		width: 25%;
			img {
				border-radius: 250px;
			}
		margin: auto;
		display: block;
	}

	.personal_description {
		font-size: 1.3em;
		margin-top: 20px;
		color: #666;
		text-align: left;
	}

	.publications {
		font-size: 1.3em;
		margin-top: 20px;
		color: #666;
		text-align: left;
	}

	.socials{
		font-size: 1.3em;
		text-align: left;
	}
	
}
